@{
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Title"]</h1>
<hr>
<a class="btn btn-primary" asp-area="Account" asp-controller="Login" asp-action="SignInMicrosoft">
    Anmelden via <strong>Microsoft</strong>
</a>
<br>
<small>Anmeldung nur mit einem <b>Schul-/Uni- oder Firmenaccount</b> möglich. (Z. B. "gmail.com" Domain ist nicht
    zulässig!)</small>