@{
    ViewData["Title"] = "Datenschutz";
}
<h1>@ViewData["Title"]</h1>

<p>
    Die Applikation speichert nur Ihre E-Mail Adresse ab. Zusätzliche Informationen werden von
    von Ihrem Microsoft-Konto zur Verfügung gestellt. Dabei verwenden wir nur die notwendigen Informationen.
    Ihre Daten werden nicht Dritten zur Verügung gestellt und auch nicht ausgewertet.
</p>
