<h2 class="text-danger">
    Laut Informationen von Mircosoft besitzen Sie keinen Zugriff auf diese Ressource.
</h2>
<h3 class="text-danger">Der Zugriff wurde Ihnen verweigert!</h3>
<br>

<a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Index">
    Zurück zum Startseite
</a>