<h2 class="text-danger">
    Bitte erteilen Sie uns die Erlaubnis Cookies zu verwenden, sowie auf Informationen Ihres Mircosoft Kontos
    zuzugriffen.
</h2>
<h3 class="text-danger">Dies ist eine Vorraussetzung, um die Applikation zu verwenden!</h3>
<br>

<a class="btn btn-secondary" asp-area="Account" asp-controller="Login" asp-action="Index">
    Zurück zum Login
</a>